html{
  box-sizing: border-box;
}

*,
*::after,
*::before{
  box-sizing: inherit;
}

body{
  font-family: "Comfortaa", sans-serif;
  /* font-family: "Yeseva One", serif; */
  color: #000;
  font-style: normal;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
}

a{
  color: inherit;
}

button{
  border: none;
  padding: 0;
  border-radius: 0;
  cursor: pointer;
}

.title{
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 400;
  font-family: "Yeseva One", serif;
}

.section{
  padding-bottom: 150px;
}

.button{
  padding: 18px 54px;
  background-color: #ffbd59;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.container{
  max-width: 1180px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

.section--decor{
  position: relative;
}

.section--decor::before{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../images/section-decor.png);
  width: 22px;
  height: 30px;
}

.section--decor::after{
  content: '';
  position: absolute;
  left: 22px;
  bottom: 13px;
  background-color: #7b6152;
  width: 120%;
  height: 1px;
}

.header{
  background-color: #fff8f3;
}

.header__inner{
  margin-top: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__btn{
  display: none;
  width: 30px;
  height: 25px;
  background-color: transparent;
  flex-direction: column;
  justify-content: space-between;
}

.menu__btn span{
  height: 1px;
  background-color: #7b6152;
  width: 100%;
}

.menu__list{
  display: flex;
  gap: 20px;
}

.menu__list-link{
  text-transform: uppercase;
}

.phone{
  position: relative;
}

.phone::before{
  content: '';
  position: absolute;
  background-image: url(../images/phone.svg);
  width: 20px;
  height: 20px;
  left: -23px;
  top: -3px;
}

.main{
  background-color: #fff8f3;
}

.top{
  padding: 40px 0 150px;
}

.top__inner{
  position: relative;
}

.top__content{
  width: 370px;
  padding: 150px 0 250px;
}

.top__title{
  font-family: "Yeseva One", serif;
  font-size: 30px;
  margin-bottom: 15px;
  font-weight: 400;
}

.top__text{
  margin-bottom: 48px;
}

.top__buy{
  padding: 18px 54px;
  background-color: #ffbd59;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.top__img{
  position: absolute;
  top: 0;
  left: 240px;
}

.about{
  background-color: #a5978e;
  padding: 50px 0;
  color: #fafafa;
  margin-bottom: 150px;
}

.about__inner{
  display: flex;
  align-items: center;
}

.about__content{
  min-width: 370px;
}

.about__text{
  margin-bottom: 15px;
}

.about__list{
  display: flex;
  align-items: center;
  gap: 0 20px;
  padding-left: 110px;
  padding-bottom: 48px;
  flex-basis: 930px;
}

.about__item-img{
  margin-bottom: 10px;
}

.about__item-text{
  font-size: 11px;
}

.section__inner{
  display: grid;
  grid-template-columns: 370px auto;
}

.section__content-descr{
  display: grid;
  grid-template-columns: auto auto;
  padding-bottom: 92px;
}

.products__content{
  gap: 50px 90px;
}

.products__item{
  width: 290px;
  margin: 0 auto;
  text-align: center;
}

.products__item-img{
  margin-bottom: 8px;
}

.products__item-price{
  margin-bottom: 12px;
  font-size: 16px;
  font-family: "Yeseva One", serif;
  font-weight: 400;
}

.products__item-title{
  margin-bottom: 16px;
  font-size: 16px;
  font-family: "Yeseva One", serif;
  font-weight: 400;
}

.products__item-text{
  margin-bottom: 27px;
  font-size: 12px;
}

.steps__list{
  gap: 70px 25px;
  counter-reset: number;
}

.steps__item{
  display: flex;
  gap: 40px;
  list-style-type: none;
  position: relative;
}

.steps__item::before{
  counter-increment: number;
  content: '0' counter(number);
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 30px;
  color: #bea495;
  font-family: "Yeseva One", serif;
}

.steps__item:nth-child(n+10)::before{
  content: counter(number);
}

.steps__item.steps__item--even::before{
  left: auto;
  right: 0;
}

.steps__item-text{
  flex-basis: 174px;
  padding-bottom: 40px;
}

.courses__item-img{
  position: relative;
  color: #fff;
  font-size: 11px;
  font-family: "Yeseva One", serif;
}

.courses__title{
  background-color: #bea495;
  padding: 15px;
  position: absolute;
  left: -1px;
  top: 45%;
}

.courses__time{
  background-color: #bea495;
  padding: 7px 10px;
  position: absolute;
  left: -1px;
  top: 60%;
}

.courses__time span{
  font-size: 10px;
  font-family: "Comfortaa", sans-serif;
}

.courses__price{
  background-color: #bea495;
  padding: 19px 10px;
  position: absolute;
  right: 0;
  bottom: 2px;
}

.team{
  background-color: #a5978e;
  padding: 80px 0 60px;
  color: #fff;
  margin-bottom: 150px;
}

.team__content{
  padding-bottom: 0;
  gap: 75px;
}

.team__item{
  position: relative;
}

.team__item-box{
  position: absolute;
  background-color: #7b6152;
  text-align: center;
  padding: 15px 10px 16px;
  width: 165px;
  z-index: 4;
  bottom: 13px;
  right: 33px;
}

.team__item-name{
  font-size: 12px;
  font-family: "Yeseva One", serif;
}

.team__item-descr{
  font-size: 10px;
}

.feedback__item{
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 16px;
  align-items: center;
}

.feedback__descr{
  margin-right: 20px;
}

.feedback__video{
  position: relative;
}

.feedback__item-videobtn{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
}

.feedback__item-name{
  margin-top: 12px;
  margin-bottom: 15px;
  font-size: 16px;
  font-family: "Yeseva One", serif;
}

.feedback__item-text{
  margin-bottom: 15px;
}

.feedback__content{
  padding-bottom: 110px;
}

.feedback__item-content{
  padding-bottom: 70px;
}

.feedback__item-btn{
  position: absolute;
  bottom: 10px;
  right: 0;
}

.feedback__slider{
  width: 760px;
  overflow: hidden;
}

.feedback__content .swiper-pagination{
  bottom: 50px;
}

.swiper-pagination-bullet{
  background-color: #bea495;
  width: 53px;
  height: 4px;
  border-radius: 0;
  opacity: 1;
}

.swiper-pagination-bullet-active{
  background-color: #7b6152;
}

.sertificates__slider{
  width: 1155px;
  overflow: hidden;
}

.sertificates__descr{
  margin-right: 20px;
}

.sertificates__content{
  padding-bottom: 114px;
}

.sertificates__content .swiper-pagination{
  bottom: 60px;
  text-align: left;
}

.promo{
  background-image: url(../images/promo-bg.jpg);
  padding: 140px 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.promo__inner{
  display: flex;
  align-items: center;
}

.promo__text{
  font-family: "Yeseva One", serif;
  font-size: 40px;
  color: #fff;
  padding-left: 56px;
  max-width: 765px;
  margin-right: 110px;
}

.promo__link{
  color: #272727;
  background-color: #ffbd59;
  display: inline-block;
  padding: 14px 25px 12px;
}

.contacts{
  padding: 150px 0 50px;
}

.contacts__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.form{
  background-color: #fff;
  width: 664px;
  padding: 75px 42px 67px;
}

.form__title{
  font-family: "Yeseva One", serif;
  margin-bottom: 60px;
  font-size: 40px;
}

.form__input{
  background-color: #fff;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
  display: block;
  margin-bottom: 15px;
  padding: 7px 10px;
  color: #000;
}

.form__input::placeholder{
  color: #b3b3b3;
  font-family: "Comfortaa", sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
}















.footer{
  padding-top: 40px;
  padding-bottom: 35px;
}

.footer__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__contact{
  display: flex;
  flex-direction: column;
  width: 230px;
}

.email{
  margin: 17px 0;
}

.footer__social{
  display: flex;
  gap: 15px;
}

@media (max-width:1000px){
  .container{
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 640px){
  .menu__list{
    display: none;
  }
  
  .header__menu-list{
    order: 1;
  }

  .menu__btn{
    display: flex;
  }

}

